<nav class="navbar navbar-expand-lg navbar-dark bg-warning">
    <a class="navbar-brand" href="/">Scrapeworthy</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/saved">Saved Scrapes
                    <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-dark scrape-new"><strong>Scrape It</strong></a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-dark clear"><strong>Clear It</strong></a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron text-center">
    <div class="overlay">
    </div>
    <div class="background-image">
    </div>
    <div class="caption">
        <h1>Scrapeworthy</h1>
        <p>PC Gamer Edition</p>
    </div>
</div>
<div class="container-fluid article-container">
    {{#each data}}
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="card">
                <div class="card-header">
                    <h3>
                        <a class="article-link" target="_blank" rel="noopener noreferrer" href={{link}}>{{title}}</a>
                        <a data-id={{_id}} class="btn btn-outline-danger save">Remove</a>
                        <a data-id={{_id}} data-title={{title}} class="btn btn-outline-info save">Notes</a>
                    </h3>
                </div>
                <div class="card-body">
                    <h2>{{summary}}</h2>
                </div>
            </div>
        </div>
    </div>
    <br>
    {{/each}}
    {{#unless data}}
    <div class='alert alert-warning text-center'>
        <h4>No saved articles found.</h4>
    </div>
    {{/unless}}
</div>

<div class="bootbox modal fade show note-box" tabindex="-1" role="dialog"
    style="padding-right: 17px; display: block; display:none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body"><button type="button" class="bootbox-close-button close" data-dismiss="modal"
                    aria-hidden="true" style="margin-top: -10px;">×</button>
                <div class="bootbox-body">
                    <div class="container-fluid text-center">
                        <h4 class="modal-text">Notes For Article:</h4>
                        <hr>
                        <ul class="list-group note-container">
                            <li class="list-group-item">No notes for this article yet.</li>
                        </ul>
                        <textarea class="note-entry" placeholder="Enter New Note Here" rows="4" cols="52"></textarea>
                        <button data-articleId=""class="btn btn-success saver">Save Note</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>